body {
--color1: #FEC907;
--color2: #3F3F40;
}

h2 {
font-size: 1.7em;
}

h5 {
font-family: 'Manjari', sans-serif;
}

hr {
background-color: var(--color1);
height: 1px;
}

footer {
margin-top: 1em;
padding: 20px;
font-size: 0.7em;
text-align: center;
}

.title {
margin-top: 3em;
padding-left: 60px;
}

.photocv {
display: block;
margin-left: auto;
margin-right: auto;
border: 5px solid #69696773;
margin-top: 3em;
}

.photo {
background-color: var(--color1);
}

.underline {
border-bottom: 2px solid var(--color1);
}

.lineheight {
line-height: 2.5em;
}

.infos {
background-color: var(--color1);
padding-right:0;
padding-left: 0;
padding-top: 1em;
}

.resume {
padding-top: 1em;
padding-left: 60px;
}

/* Bordures grises */
.darkborder {
background-color: var(--color2);
color: var(--color1);
text-align: center;
padding: 5px;
}

.name, .icons {
color: var(--color1);
}

.job {
color: var(--color2);
}

.text {
color: var(--color2);
padding-right: 3em;
padding-left: 3em;
}


.loisir {
color: var(--color2);
font-size: 2em;
border: 2px solid var(--color2);
border-radius: 50%;
padding: 10px;
}

#flex_loisir {
display: flex;
flex-direction: row;
justify-content: space-around;
margin-right: 5em;
margin-left: 5em;
}

@media screen and (max-width: 768px) {
	.photo {
	background-color: white;
	}
	.title {
	text-align: center;
	}
}